<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /agenda_ufpr
    
    # Não aplicar regras de reescrita a arquivos e diretórios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirecionar todas as requisições para o index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Impedir listagem de diretórios
Options -Indexes

# Definir charset padrão
AddDefaultCharset UTF-8